<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel="tests" thread-count="2">
<listeners>
<listener class-name="testng.test.Listeners">
</listener>
</listeners>
<parameter name="URL" value="qaclickacademy.com">
</parameter>
  <test name="Personal Loan" parallel="classes" thread-count="2">
  <parameter name="URL" value="personalloan.com"/>
    <classes>
      <class name="testng.test.Day1">
      </class>
      <class name="testng.test.Day2">
      </class>
      <class name="testng.test.Day4">
      <methods>
      <include name="webLoginCarLoan"/>
      </methods>
      </class>
    </classes>
  </test>
  <test name="Car Loan">
  <parameter name="URL" value="carloan.com"/>
  <parameter name="APIKey/usrname" value="123456"/>
    <classes>
      <class name="testng.test.Day3">
      <methods>
      <exclude name="mobile.*"/>
      </methods>
      </class>
    </classes>
  </test>
</suite>
